asgiref             
Django              
django-cors-headers 
djangorestframework 
imbalanced-learn    
joblib              
numpy              
pandas              
pip                 
python-dateutil     
pytz                   
scikit-learn        
scipy              
six                
sklearn-compat      
sqlparse            
threadpoolctl       
tzdata             